@import "./scss/_variables.scss";

body, html {
	scroll-behavior: smooth;
    height: 100%
}

main, section {
    @include flex-centered;
    padding: 0;
    margin-bottom: 5vmax;
    width: 100%;
}


.h1-border {
    padding-left: 1em;

    span {
        padding: .00vw 5ch;
        border-bottom: .5rem solid $dark;
    }
}

.about-us-wrapper {
    padding-block: 1vw;
    max-width: 1920px;
    margin-inline: $global-margin;
}

.about-us-container {

    .about-us {
        width: 90vw;
        display: flex;
        gap: 0;
        
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }   

        .tab-content:not(.active):not(.content-container) {
            display: none;
        }

        .image {

            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: hidden;
            position: relative;

            div {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }   

        .content {
            max-width: 50vw;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .content-headers {

                .tab {
                    display: none;
                }

                display: grid;
                grid-template-columns: repeat(4, 1fr);

                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    cursor: pointer;

                    padding: 10%;
                    background-color: #BFDFAF;

                    transition: all ease-in-out .15s;
                    border-bottom: .01rem solid rgba(56, 56, 56, 0.30);;

                    &:hover {
                        background-color: lighten(#BFDFAF, 10%);
                    }

                    &:not(:last-of-type){
                        border-right: .01rem solid rgba(56, 56, 56, 0.30);
                    }
                }

                input:checked + label {
                    background-color: #F1F8ED;
                }
            }

            .content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                flex-grow: 2;
                transition: all .5s ease-in;
                overflow-y: scroll;
                height: 70vh;

                padding: 2rem;
                background-color: #DDEDD5;

                p {
                    margin-bottom: 1em;
                }
            }
        }
    }   
}

@media screen and (max-width: $breakpoint-tablet-landscape) {

    .about-us-wrapper {
        padding: 0;

        & > div {
          padding-inline: 1em;  
        }
    }

    .about-us-container {
        .about-us {
            flex-direction: column-reverse;
            min-height: 70vh;

            .image {
                div {
                    position: initial;
                }

                img {
                    width: 100%;
                }
            }

            .content {
                width: auto;
                max-width: initial;

                .content-headers {
                    grid-template-columns: repeat(2, 1fr);
                }
            }       
        }
    }
}