body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 5vmax;
  width: 100%;
}

h1 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  align-self: flex-start;
}

.subpage-banner {
  background-image: url("../images/placeholders/DSC07455.jpg");
}

.about-us-wrapper {
  margin: 2.5vmax 5vw;
}

.h1-border h1,
.principal-message h1,
.principal-timeline h1 {
  margin-bottom: 5vw;
}

.about-us .about-us-container {
  width: 100%;
  display: flex;
  gap: 0;
}
.about-us .about-us-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-us .about-us-container .tab-content:not(.active):not(.content-container) {
  display: none;
}
.about-us .about-us-container .image {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.about-us .about-us-container .image div {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us .about-us-container .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-us .about-us-container .content {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.about-us .about-us-container .content .content-headers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.about-us .about-us-container .content .content-headers .tab {
  display: none;
}
.about-us .about-us-container .content .content-headers label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 10%;
  background-color: #bfdfaf;
  transition: all ease-in-out 0.15s;
  border-bottom: 0.01rem solid rgba(56, 56, 56, 0.3);
}
.about-us .about-us-container .content .content-headers label:hover {
  background-color: #dceed3;
}
.about-us .about-us-container .content .content-headers label:not(:last-of-type) {
  border-right: 0.01rem solid rgba(56, 56, 56, 0.3);
}
.about-us .about-us-container .content .content-headers input:checked + label {
  background-color: #f1f8ed;
}
.about-us .about-us-container .content .content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  transition: all 0.5s ease-in;
  overflow-y: auto;
  height: 70vh;
  padding: 2.5rem;
  background-color: #ddedd5;
}
.about-us .about-us-container .content .content-text h1 {
  font-size: 1.5em;
  margin-top: 0em;
}
.about-us .about-us-container .content .content-text p {
  margin-bottom: 1em;
}
.about-us .about-us-container .content .content-text ul {
  list-style-type: disc;
}
.about-us .about-us-container .content .content-text ul li {
  margin-left: 1.5em;
}
.about-us .about-us-container .content .content-text ol li::marker {
  font-weight: 600;
}

.principal-message .principal-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.principal-message .principal-message-container .principal-image {
  padding-right: 5vw;
  width: 40%;
  max-width: 300px;
}
.principal-message .principal-message-container .principal-image img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.principal-message .principal-message-container .principal-text {
  width: 100%;
  text-align: justify;
}
.principal-message .principal-message-container .principal-text p {
  padding-bottom: 1em;
}
.principal-message .principal-message-container .principal-text h2 {
  padding-top: 1em;
  font-size: 1em;
}

.hidden {
  opacity: 0;
}

.principal-timeline .principal-timeline-container {
  display: flex;
  flex-wrap: wrap;
}
.principal-timeline .timeline-content {
  width: 85vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.principal-timeline .timeline-content:first-child .item-date {
  border-radius: 3em 3em 0 0;
}
.principal-timeline .timeline-content:last-child .item-date {
  border-radius: 0 0 3em 3em;
}
.principal-timeline .item-date {
  order: 2;
  background-color: #CFECC1;
  font-family: "EB Garamond", serif;
  flex-basis: 100px;
  display: flex;
  padding: 100px 0;
  margin: 0 1em;
}
.principal-timeline .item-date > h2 {
  margin: auto;
}
.principal-timeline .item-desc {
  order: 3;
  text-align: center;
  width: 50%;
  align-self: center;
  justify-content: flex-start;
  display: flex;
  position: relative;
}
.principal-timeline .item-desc .content {
  border: 3px solid #0F6938;
  border-radius: 1em;
  padding: 3em 1em;
}
.principal-timeline .item-desc .line {
  border: none;
  align-self: center;
  background-color: #0F6938;
  width: 30%;
  height: 3px;
  transform: scaleX(1);
}
.principal-timeline .item-desc .line::before {
  content: "";
  display: inline-block;
  border-bottom: 6px solid #0F6938;
  width: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%) rotate(90deg);
}
.principal-timeline .item-hidden {
  width: 50%;
}
.principal-timeline .item-flipped .item-date {
  background-color: #bde5aa;
}
.principal-timeline .item-flipped .item-desc {
  order: 1;
  justify-content: flex-end;
}
.principal-timeline .item-flipped .item-desc .line {
  order: 2;
  transform: scaleX(-1);
  background-color: #1B9B55;
}
.principal-timeline .item-flipped .item-desc .line::before {
  border-bottom: 6px solid #1B9B55;
}
.principal-timeline .item-flipped .item-desc .content {
  border: 3px solid #1B9B55;
}
.principal-timeline .item-flipped .item-hidden {
  order: 3;
}

@media screen and (max-width: 1024px) {
  .about-us-wrapper {
    padding: 0;
  }
  .about-us .about-us-container {
    flex-direction: column-reverse;
    min-height: 70vh;
  }
  .about-us .about-us-container .image div {
    position: initial;
  }
  .about-us .about-us-container .image img {
    width: 100%;
  }
  .about-us .about-us-container .content {
    width: auto;
    max-width: initial;
  }
  .about-us .about-us-container .content .content-headers {
    grid-template-columns: repeat(2, 1fr);
  }
  .principal-message .principal-message-container {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .principal-message .principal-message-container .principal-image {
    padding: 5vw 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .principal-timeline .principal-timeline-container .item-desc {
    width: 80%;
    text-align: left;
    justify-content: flex-start;
  }
  .principal-timeline .principal-timeline-container .item-desc .content {
    border: none;
  }
  .principal-timeline .principal-timeline-container .item-desc .line {
    display: none;
  }
  .principal-timeline .principal-timeline-container .item-date {
    margin: 0;
  }
  .principal-timeline .principal-timeline-container .item-hidden {
    width: 0;
  }
  .principal-timeline .principal-timeline-container .item-flipped .item-hidden {
    order: 1;
  }
  .principal-timeline .principal-timeline-container .item-flipped .item-desc {
    order: 3;
  }
}/*# sourceMappingURL=about-us.css.map */