.uploader-single {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  outline: 0.01rem solid #ccc;
  outline-offset: 5px;
  position: relative;
  min-height: 20vh;
  min-width: 50%;
  max-width: 70%;
  aspect-ratio: 5/3;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
}
.uploader-single input {
  display: none;
}
.uploader-single img, .uploader-single .icon {
  pointer-events: none;
}
.uploader-single .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}
.uploader-single .dragging {
  outline-color: orangered;
}
.uploader-single .dragging .icon {
  color: orangered;
}
.uploader-single img {
  opacity: 1;
  border-radius: 0.5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 300ms ease-in;
  max-height: 100%;
  max-width: 100%;
}
.uploader-single img .loaded {
  opacity: 1;
}

body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 5vmax;
  width: 100%;
}

main h1, main h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}
main h2 {
  font-weight: 700;
  margin-bottom: 1em;
}
main h3 {
  font-weight: 600;
}
main img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.subpage-banner {
  background-image: url("../images/placeholders/DSC07466.jpg");
}

.admissions-overview .internal-nav {
  padding: 2em 0em;
  min-width: 18vw;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  position: relative;
  overflow-x: scroll;
  max-width: 85vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-block: 2.5em;
}
.table-wrapper::-webkit-scrollbar {
  display: none;
}

.admissions,
.fee-structure,
.student-code {
  margin: 0;
  border-bottom: 0.1rem solid hsla(0deg, 0%, 22%, 0.7);
}

.admissions-container {
  padding: 2.5vmax 5vw 5vw;
}
.admissions-container > div {
  margin-bottom: 5vh;
}

.admissions-overview .note {
  padding-left: 1em;
  list-style: "- ";
}
.admissions-overview p {
  margin-bottom: 1em;
}

.admissions-process ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1vw;
}
.admissions-process ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.admissions-process ul li .card-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(18px, 2.1vw, 15rem);
  font-weight: bold;
  border: 0.4em solid #ddedd5;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 1;
  transform: translateY(1.5em);
  background-color: #bfdfaf;
  aspect-ratio: 1;
  text-align: center;
  width: 3.2em;
}
.admissions-process ul li .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ddedd5;
  width: 100%;
  padding: 2em;
  flex-grow: 1;
  border-radius: 1em;
  padding: 3em 1.5em;
  font-weight: bold;
}
.admissions-process ul li .card-content p {
  margin-top: 1em;
}

.admissions-requirements {
  padding: 5vw 0 0;
  align-items: flex-start;
}
.admissions-requirements h2,
.admissions-requirements h3 {
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  margin-block: 2em;
}
.admissions-requirements h2 {
  color: #0F6938;
}
.admissions-requirements a {
  color: #383838;
  word-break: break-all;
}
.admissions-requirements ol {
  padding-left: 1em;
}
.admissions-requirements ol li::marker {
  font-weight: 600;
}
.admissions-requirements ul {
  list-style-type: disc;
  padding-left: 2em;
}
.admissions-requirements ul ol {
  padding: 0 1.5em;
}
.admissions-requirements ul ol li::marker {
  content: "(" counter(list-item, lower-roman) ")  ";
}

.table-wrapper table, .table-wrapper table td, .table-wrapper table th {
  border-collapse: collapse;
  border: 0 black solid;
  border-spacing: 0;
  margin-bottom: 1em;
  overflow-x: scroll;
}
.table-wrapper table td, .table-wrapper table th {
  border: 0.01rem solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1vw 4vw;
  font-size: clamp(12px, 1vw, 10rem);
  text-align: center;
  font-weight: 400;
  overflow-x: initial;
}
.table-wrapper table th {
  background-color: #EEE1B2;
}

.fee-structure {
  padding: 5vw;
  align-items: flex-start;
}
.fee-structure > div {
  margin-bottom: 5vh;
}
.fee-structure .table-wrapper {
  align-self: center;
}
.fee-structure .transport-note {
  margin: 5vh 0 0;
}
.fee-structure ul {
  padding-left: 1em;
  list-style: disc;
}
.fee-structure ul ol {
  padding: 0 1.5em;
}
.fee-structure ul ol li::marker {
  content: counter(list-item, lower-alpha) ")  ";
  font-weight: 600;
}
.fee-structure h2,
.fee-structure h3 {
  color: #0F6938;
  text-transform: uppercase;
}

.student-code-container {
  padding: 5vw;
  align-items: flex-start;
}
.student-code-container > div {
  margin-bottom: 5vh;
}
.student-code-container p,
.student-code-container ol,
.student-code-container ul {
  padding-bottom: 1.5em;
}
.student-code-container ul {
  list-style-type: disc;
  padding-left: 1.5em;
}
.student-code-container ol {
  padding-left: 1.25em;
}
.student-code-container ol li::marker {
  content: counter(list-item, lower-alpha) ")  ";
  font-weight: 600;
}
.student-code-container h2,
.student-code-container h3 {
  color: #0F6938;
  text-transform: uppercase;
}
.student-code-container h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

.registration {
  padding: 5vw;
  align-items: flex-start;
}
.registration h2 {
  color: #0F6938;
  font-weight: 500;
}

.registration-form {
  min-width: 90%;
  max-width: 80vw;
}
.registration-form table, .registration-form .table-wrapper table td, .table-wrapper table .registration-form td, .registration-form .table-wrapper table th, .table-wrapper table .registration-form th {
  min-width: 70%;
}
.registration-form .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.registration-form .form-row td, .registration-form .form-row .table-wrapper table th, .table-wrapper table .registration-form .form-row th {
  border: none;
  display: flex;
  align-items: center;
  padding: 1em;
}
.registration-form .form-row .form-label:not(.uploader-single):not(.file-upload) {
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 600;
}
.registration-form .form-row .form-label:not(.uploader-single):not(.file-upload)::after {
  content: "*";
  color: #FF1F1F;
}
.registration-form .form-row .form-input {
  padding: 1em;
}
.registration-form .form-row .file-upload::after {
  content: "";
}
.registration-form .form-row input[type=text],
.registration-form .form-row input[type=date] {
  min-height: 2em;
  width: 100%;
  padding: 0.5em;
  border-color: #c9c9c9;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.09rem;
}
.registration-form .form-row input[type=text].error,
.registration-form .form-row input[type=date].error {
  border-color: #FF1F1F;
  border-width: 0.1rem;
}
.registration-form .form-row input[type=date] {
  text-transform: uppercase;
}
.registration-form .form-row .radio-group {
  flex: 1;
  display: flex;
  align-items: center;
}
.registration-form .form-row .radio-group .input-group {
  margin-right: 1em;
  display: flex;
  align-items: center;
}
.registration-form .form-row .radio-group .input-group label::after {
  content: none;
}
.registration-form .form-row .radio-group .input-group input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  margin-right: 0.5em;
  padding: 0.5em;
}
.registration-form .form-row .radio-group .input-group input[type=radio]:checked {
  background-color: #c9c9c9;
}
.registration-form .form-row .radio-group .input-group input[type=radio].error {
  border-color: #FF1F1F;
}
.registration-form .form-row .file-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registration-form .form-row .file-upload .upload-button {
  border: 0.01rem solid #959595;
  padding: 0.2em 2em;
  border-radius: 0.5em;
  background-color: #dddddd;
  cursor: pointer;
  margin-bottom: 1em;
}
.registration-form .form-row .file-upload .upload-button:hover {
  border-color: #dddddd;
  background-color: rgba(255, 255, 255, 0.5);
}
.registration-form .form-row .form-button {
  border: none;
  flex-grow: 0.25;
  padding: 1em 1.5em;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 0.5em;
  cursor: pointer;
  border: 0.01rem solid none;
}
.registration-form .form-row .form-submit {
  background-color: #65b9e1;
  margin-left: 0vw;
  margin-right: 2.5vw;
}
.registration-form .form-row .form-submit:hover {
  background-color: hsla(199deg, 67%, 64%, 0.1);
  color: #65b9e1;
  border: 0.01rem solid #65b9e1;
}
.registration-form .form-row .form-reset {
  font-weight: bold;
  color: #FF1F1F;
  border: 0.01rem solid #dddddd;
}
.registration-form .form-row .form-reset:hover {
  background-color: #FF1F1F;
  color: #FFFFFF;
  border: 0.01rem solid #FF1F1F;
}
.registration-form .form-item-empty label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .admissions-overview {
    display: flex;
    justify-content: space-between;
  }
  .admissions-overview .content {
    max-width: 60%;
  }
  .admissions-process ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .table-wrapper {
    align-items: center;
  }
  .table-wrapper:after {
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .admissions-process ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .registration-form {
    min-width: 70vw;
  }
}
@media screen and (max-width: 1200px) {
  .internal-nav {
    display: none;
  }
  .registration-form table .form-row, .table-wrapper table .registration-form td .form-row, .table-wrapper table .registration-form th .form-row {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=admissions.css.map */