@import "./scss/_variables.scss";

body, html {
	scroll-behavior: smooth;
    height: 100%
}

main, section {
    @include flex-centered;
    padding: 0;
    margin-bottom: 5vmax;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover
}

h1 {
    font-family: $font-primary;
    font-weight: 500;
}
h2 {
    @extend h1;
    font-weight: 700;
    margin-bottom: 1em;
}

.admissions-overview {
    .internal-nav {
        display: none;
    }   
}

.nav-breadcrumbs {
    align-self: flex-start;
    margin-left: 5vw;
}

.table-wrapper {
    @include flex-centered;
    align-items: flex-start;
    position: relative;
    overflow-x: scroll;
    max-width: 85vw;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
      }


    margin-block: 2.5em;
}

.admissions {
    margin: 0;
    border-bottom: .1rem solid hsla(0, 0%, 22%, 0.70);
}

.admissions-container {
    padding: 5vw;

    & > div {
        margin-bottom: 5vh;
    }
}

.admissions-overview {
    .h1-border {
        span {
            padding: .00vw 5ch;
            border-bottom: .5rem solid $dark;
        }
    }

    ul {
        padding-left: 1em;
        list-style: '- ';
    }


    p {
        margin-bottom: 1em;
    }
}

.admissions-requirements {
    h2 {
        color: $dark;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-block: 2em;
    }
    
    ol {
        padding-left: 1em;
    }
}

.admissions-process {
    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;

        li {
            @include flex-centered;
            justify-content: flex-start;
            position: relative;

            .card-number {
                @include flex-centered;
                font-size: 1.8rem;
                font-weight: bold;

                
                border: .4em solid #DDEDD5;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                z-index: 1;
                transform: translateY(1.5em);

                background-color: #BFDFAF;
                aspect-ratio: 1;
                text-align: center;
                width: 3.2em;
            }

            .card-content {
                @include flex-centered;
                text-align: center;
                background-color: #DDEDD5;
                // max-width: 20rem;
                width: 100%;
                padding: 2em;
                flex-grow: 1;
                border-radius: 1em;
                padding: 3em 2em;

                p {
                    margin-top: 1em;
                }
            }
        }
    }
}

table {
    border-collapse: collapse;
    border: 0 black solid;
    border-spacing: 0;
    margin-bottom: 1em;
    overflow-x: scroll;

    td {
        @extend table;
        border: .01rem solid black;
        width: max-content;
        padding: 1vw 4vw;
        font-size: clamp(12px, 1.1vw, 2rem);
        text-align: center;
        font-weight: 400;

        overflow-x: initial;
    }
    
    th {
        @extend td;
        background-color: $accent;
    }
}


.fee-structure {
    padding: 5vw;
    align-items: flex-start;

    .table-wrapper {
        align-self: center;
    }

    div {
        margin-bottom: 5vh;
    }

    .discounts-refunds {
        display: flex;
        flex-direction: column;

        div > * {
            margin-bottom: 1em;
        }
    }

    ul {
        padding-left: 1em;
        list-style:disc;
    }
    
    h2, h3 {
        color: $dark;
    }

    h2 {
        text-transform: uppercase;
    }
}

.registration {
    align-items: flex-start;
}
.registration-form {
    margin-inline: $global-margin;
    min-width: 50vw;

    .form-item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        padding-block: 1em;
        & > * {
            flex: 1;
        }

        label {
            font-weight: 600;
            width: 15vw;
            flex-shrink: 0;

            &::after:not(.file-button) {
               content: "*";
               color: red; 
            }
        }

        input[type="text"], input[type="date"] {
            padding: .5em;
            border-color: #C9C9C9;
            border-style: solid;
            border-radius: .5em;
            border-width: .09rem;
        }

        input[type="date"]{
            text-transform: uppercase;
        }

        .radio-group {
            flex: 1;
            display: flex;
            align-items: center;

            .input-group {
                margin-right: 1em;
                display: flex;
                align-items: center;

                label {
                    &::after {
                        content: none;
                    }
                }

                input[type="radio"]{
                    appearance: none;

                    display: inline-block;
                    width: 1.25em;
                    height: 1.25em;
                    border: 1px solid #C9C9C9;
                    border-radius: 50%;
                    margin-right: .5em;
                    padding: .5em;

                    &:checked {
                        background-color: #C9C9C9;
                    }
                }
            }
        }

        .file-upload {
            @include flex-centered;
            align-items: flex-start;
            gap: 1.5vh;
            
            .upload-button {
                border: .01rem solid #959595;
                padding: .2em 2em;
                border-radius: .5em;
                background-color: #DDDDDD;
                cursor: pointer;

                &:hover {
                    border-color: #DDDDDD;
                    background-color: rgba(255, 255, 255, 0.5)
                }
            }

            .image-drop {
                @include flex-centered;
                border: .01rem solid #C9C9C9;
                text-align: center;
                padding-inline: 5vw;
                padding-block: 5vh;
                border-radius: .5em;
            }

            input[type="file"]{
                display: none;
            }
        }
        
        .form-button {
            border: none;
            flex-grow: .25;
            padding: 2vmin 3vw;
            color: $primary-secondary;
            text-transform: uppercase;
            border-radius: .5em;
            cursor: pointer;
            border: .01rem solid none;
        }
        .form-submit {
            background-color: #65B9E1;
            margin-left: 10vw;
            margin-right: 2.5vw;

            &:hover {
                background-color: hsla(199, 67%, 64%, 0.10);
                color: #65B9E1;
                border: .01rem solid #65B9E1;
            }
        }
        .form-reset {
            font-weight: bold;
            color: #FF1F1F;
            border: .01rem solid #DDDDDD;

            &:hover {
                background-color: #FF1F1F;
                color: $primary-secondary;
                border: .01rem solid #FF1F1F;
            }
        }
    }
    

    .form-item-empty {
        label {
            user-select: none;
            opacity: 0;
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-portrait) {
    .admissions-overview {
        
        display: flex;
        justify-content: space-between;
        .content {
            max-width: 60%;
        }

        .internal-nav {
            display: initial;
            z-index: 2;
            right: 5em;
            align-self: flex-start;
    
            background-color: white;
    
            div {
                border-left: .3rem solid $dark;  
                padding-left: 1em;
            }
    
            h2 {
                font-weight: 500;
            }
    
            ul {
                list-style: none;
                padding: 0;
    
                li {
                    padding-bottom: 1ch;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .admissions-process {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .table-wrapper {
        align-items: center;

        &:after {
            background-image:none;
        }
    }

    .fee-structure {
        .discounts-refunds {    
            flex-direction: row;
            gap: 5vw;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop-small){
    .admissions-process {
        ul {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}