body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}

section {
  padding: 2vw 5vw;
}

h1, h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

/* Subpage Banner */
.subpage-banner {
  background: url("../images/banners/banner-2.jpg") repeat fixed 100%;
  background-size: cover;
  background-position: bottom;
}

/* Contact Us Overview */
.contact-overview .nav-breadcrumbs {
  padding: 1em 0;
}

.contact-overview .nav-breadcrumbs li {
  display: inline;
}

.contact-overview .nav-breadcrumbs li a {
  text-decoration: none;
  color: #383838;
  font-weight: 600;
  font-size: 0.8em;
}

.contact-overview .nav-breadcrumbs li + li ::before {
  padding: 1vw;
  color: #383838;
  content: ">>\00a0";
}

.contact-overview .h1-border span {
  padding: 0vw 5ch;
  border-bottom: 0.5rem solid #0F6938;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .container {
  background-color: #EEE1B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
}

.contact-us .container .contact-details {
  width: 100%;
  padding-top: 2em;
}

.contact-us .container .contact-details .timings {
  background-color: white;
  -webkit-box-shadow: -4px 4px 4px -3px #0000003f;
          box-shadow: -4px 4px 4px -3px #0000003f;
  border-radius: 15px 0px 0px 15px;
  padding: 1.15em;
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

.contact-us .container .contact-details .timings p {
  color: #0F6938;
}

.contact-us .container .contact-details .info {
  padding: 1em 3em;
}

.contact-us .container .contact-details .info ul {
  padding: 0;
}

.contact-us .container .contact-details .info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0em;
}

.contact-us .container .contact-details .info ul li i {
  color: #0F6938;
  height: 2em;
  width: 2em;
  padding-top: 0.45em;
  border: 1px solid #0F6938;
  border-radius: 50%;
}

.contact-us .container .contact-details .info ul li * {
  margin: 1vmin;
}

.contact-us .container .contact-details .info ul li a {
  color: #383838;
  padding-left: 1em;
  text-decoration: none;
  font-size: clamp(16px, 1vw, 1.2rem);
}

.contact-us .container .contact-map {
  width: 100%;
  position: relative;
  padding-bottom: 70vh;
  height: 0;
  overflow: hidden;
}

.contact-us .container .contact-map iframe {
  border: 0;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.contact-form {
  margin: 2em 0em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, #0F6938), color-stop(75%, transparent));
  background: linear-gradient(transparent 0% 25%, #0F6938 25% 75%, transparent 75% 100%);
}

.contact-form .form-container {
  background-color: #efefef;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  padding: 40px 10vmin;
}

.contact-form .form-container span {
  color: red;
  font-weight: 700;
  font-size: large;
}

.contact-form .form-container .form-note {
  font-size: small;
  width: 100%;
  text-align: center;
}

.contact-form .form-container form {
  padding: 10px 0;
}

.contact-form .form-container form .form-item {
  width: 100%;
  padding: 8px;
}

.contact-form .form-container form .form-item label {
  display: block;
  font-weight: 600;
}

.contact-form .form-container form .form-item input,
.contact-form .form-container form .form-item textarea {
  width: 100%;
  border: 1px solid #0F6938;
  min-height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  resize: none;
}

.contact-form .form-container form .submit-button {
  margin-top: 30px;
  text-align: center;
}

.contact-form .form-container form .submit-button input {
  background-color: #EEE1B2;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .contact-us .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .contact-us .container .contact-details {
    width: 45%;
  }
  .contact-us .container .contact-details .timings {
    width: 50%;
  }
  .contact-us .container .contact-map {
    width: 55%;
    padding-bottom: 80vh;
  }
}
/*# sourceMappingURL=contact-us.css.map */