/* Imports */
/* Base Styling */
body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vmax;
  padding: 0;
  width: 100%;
}

main h1, main h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}
main h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

/* Subpage Banner */
.subpage-banner {
  background: url("../images/banners/banner-2.jpg") repeat fixed 100%;
  background-size: cover;
  background-position: bottom;
}

/* Contact Us Overview */
.contact-overview {
  padding: 2.5vmax 5vw 0;
}

/* Contact Information */
.contact-us {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-us .container {
  background-color: #eee1b2;
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  border-radius: 15px;
  /* Contact Information */
  /* Contact Map */
}
.contact-us .container .contact-details {
  width: 100%;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-us .container .contact-details .timings {
  background-color: white;
  box-shadow: -4px 4px 4px -3px rgba(0, 0, 0, 0.2470588235);
  border-radius: 15px 0px 0px 15px;
  padding: 1.15em;
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}
.contact-us .container .contact-details .timings p {
  color: #0f6938;
}
.contact-us .container .contact-details .info {
  padding: 1em 3em;
}
.contact-us .container .contact-details .info ul {
  padding: 0;
}
.contact-us .container .contact-details .info ul li {
  display: flex;
  align-items: center;
  margin: 0.5em 0em;
}
.contact-us .container .contact-details .info ul li i {
  color: #0f6938;
  height: 2em;
  width: 2em;
  padding-top: 0.45em;
  border: 1px solid #0f6938;
  border-radius: 50%;
}
.contact-us .container .contact-details .info ul li * {
  margin: 1vmin;
}
.contact-us .container .contact-details .info ul li a {
  color: #383838;
  padding-left: 1em;
  text-decoration: none;
  font-size: clamp(16px, 1vw, 1.2rem);
}
.contact-us .container .contact-map {
  width: 100%;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.contact-us .container .contact-map iframe {
  border: 0;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Contact Form */
.contact-form {
  padding: 2.5vmax 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form .form-container {
  background-color: #efefef;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  padding: 40px 8vmin;
}
.contact-form .form-container .form-note {
  font-size: small;
  width: 100%;
  text-align: center;
}
.contact-form .form-container form {
  padding: 10px 0;
}
.contact-form .form-container form table {
  width: 100%;
}
.contact-form .form-container form .form-row {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form .form-container form .form-row .form-label {
  width: 100%;
  display: block;
  font-weight: 600;
}
.contact-form .form-container form .form-row .form-label::after {
  content: "*";
  color: #ff1f1f;
}
.contact-form .form-container form .form-row .form-input .main-body {
  display: flex;
  align-items: center;
  position: relative;
}
.contact-form .form-container form .form-row .form-input .main-body .input-alerts {
  display: flex;
  align-items: center;
  position: relative;
}
.contact-form .form-container form .form-row .form-input .main-body .input-alerts i {
  position: absolute;
  right: 10px;
  top: -1px;
  visibility: hidden;
}
.contact-form .form-container form .form-row .form-input input[type=text],
.contact-form .form-container form .form-row .form-input input[type=email],
.contact-form .form-container form .form-row .form-input input[type=tel],
.contact-form .form-container form .form-row .form-input textarea {
  padding: 1vw;
  width: 100%;
  border: 1px solid #0f6938;
  min-height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  resize: none;
}
.contact-form .form-container form .form-row .form-input .form-button {
  width: 45%;
  margin-top: 30px;
  text-align: center;
  background-color: #eee1b2;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.contact-form .form-container form .form-row .form-input .form-button:hover {
  cursor: pointer;
  background-color: #e9d99d;
}
.contact-form .form-container form .form-row .form-input small {
  visibility: hidden;
  font-weight: 500;
}
.contact-form .form-container form .form-row .form-input.success input {
  border-color: #6bbb5e;
}
.contact-form .form-container form .form-row .form-input.success .main-body .input-alerts i.fa-check-circle {
  color: #6bbb5e;
  visibility: visible;
}
.contact-form .form-container form .form-row .form-input.error input {
  border-color: #ff1f1f;
}
.contact-form .form-container form .form-row .form-input.error small {
  color: #ff1f1f;
  visibility: visible;
}
.contact-form .form-container form .form-row .form-input.error .main-body .input-alerts i.fa-exclamation-circle {
  color: #ff1f1f;
  visibility: visible;
}
.contact-form .form-container form .form-row .button-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .contact-us .container {
    flex-direction: row;
    max-width: 100%;
  }
  .contact-us .container .contact-details {
    width: 45%;
  }
  .contact-us .container .contact-details .timings {
    width: 50%;
  }
  .contact-us .container .contact-map {
    width: 55%;
    padding-bottom: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .contact-us .container .contact-map {
    padding-bottom: 40%;
  }
}/*# sourceMappingURL=contact-us.css.map */