/* Imports */
@import "./scss/_variables.scss";

/* Base Styling */
body,
html {
	scroll-behavior: smooth;
	height: 100%;
}

main,
section {
	display: flex;
	flex-direction: column;
	margin-bottom: 5vmax;
	padding: 0;
	width: 100%;
}

main {
	h1 {
		font-family: $font-primary;
		font-weight: 500;
	}

	h2 {
		@extend h1;
		font-weight: 700;
		margin-bottom: 1em;
	}
}

/* Subpage Banner */
.subpage-banner {
	background: url("../images/banners/banner-2.jpg") repeat fixed 100%;
	background-size: cover;
	background-position: bottom;
}

/* Contact Us Overview */
.contact-overview {
	padding: 2.5vmax $global-margin 0;
}

/* Contact Information */
.contact-us {
	padding: 0 $global-margin;
	@include flex-centered;

	.container {
		background-color: $accent;
		display: flex;
		width: 100%;
		max-width: 700px;
		flex-direction: column;
		border-radius: 15px;

		/* Contact Information */
		.contact-details {
			width: 100%;
			padding-top: 2em;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.timings {
				background-color: white;
				box-shadow: -4px 4px 4px -3px #0000003f;
				border-radius: 15px 0px 0px 15px;
				padding: 1.15em;
				width: 70%;
				margin-left: auto;
				margin-right: 0;

				p {
					color: $dark;
				}
			}

			.info {
				padding: 1em 3em;
				// height: 70%;

				ul {
					padding: 0;

					li {
						display: flex;
						align-items: center;
						margin: 0.5em 0em;

						i {
							color: $dark;
							height: 2em;
							width: 2em;
							padding-top: 0.45em;
							border: 1px solid $dark;
							border-radius: 50%;
						}

						* {
							margin: 1vmin;
						}

						a {
							color: $font-colour;

							padding-left: 1em;
							text-decoration: none;
							font-size: clamp(16px, 1vw, 1.2rem);
						}
					}
				}
			} // .info
		} // .contact-details

		/* Contact Map */
		.contact-map {
			width: 100%;
			position: relative;
			padding-bottom: 75%;
			height: 0;
			overflow: hidden;

			iframe {
				border: 0;
				border-radius: 15px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		} // .contact-map
	} // .container
} // .contact-us

/* Contact Form */
.contact-form {
	padding: 2.5vmax $global-margin;
	@include flex-centered;

	.form-container {
		background-color: $form-background-color;
		border-radius: 15px;
		width: 100%;
		max-width: 700px;
		padding: 40px 8vmin;

		.form-note {
			font-size: small;
			width: 100%;
			text-align: center;
		}

		form {
			padding: 10px 0;

			table {
				width: 100%;
			}

			.form-row {
				padding: 8px;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.form-label {
					width: 100%;
					display: block;
					font-weight: 600;

					&::after {
						content: "*";
						color: $alert;
					}
				}

				.form-input {
					.main-body {
						display: flex;
						align-items: center;
						position: relative;

						.input-alerts {
							display: flex;
							align-items: center;
							position: relative;

							i {
								position: absolute;
								right: 10px;
								visibility: hidden;
							}
						}
					}

					input[type="text"],
					input[type="email"],
					input[type="tel"],
					textarea {
						padding: 1vw;
						width: 100%;
						border: 1px solid $dark;
						min-height: 40px;
						border-radius: 5px;
						margin-top: 10px;
						resize: none;
					}

					.form-button {
						width: 45%;
						margin-top: 30px;
						text-align: center;
						background-color: $accent;
						padding: 10px 50px;
						border-radius: 5px;
						font-weight: 600;
						transition: 0.2s ease-in-out;

						&:hover {
							cursor: pointer;
							background-color: darken($accent, 5%);
						}
					}

					small {
						visibility: hidden;
						font-weight: 500;
					}

					// CSS Changes on success
					&.success {
						input {
							border-color: $success;
						}

						.main-body {
							.input-alerts {
								i.fa-check-circle {
									color: $success;
									visibility: visible;
								}
							}
						}
					}

					// CSS changes on error
					&.error {
						input {
							border-color: $alert;
						}

						small {
							color: $alert;
							visibility: visible;
						}

						.main-body {
							.input-alerts {
								i.fa-exclamation-circle {
									color: $alert;
									visibility: visible;
								}
							}
						}
					}
				}

				.button-wrapper {
					display: flex;
					justify-content: space-between;
				}
			}
		} // form
	} // .form-container
} // .contact-form

// Media Queries
@media screen and (min-width: $breakpoint-tablet-landscape) {
	.contact-us {
		.container {
			flex-direction: row;
			max-width: 100%;

			.contact-details {
				width: 45%;

				.timings {
					width: 50%;
				}
			}

			.contact-map {
				width: 55%;
				padding-bottom: 45%;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-desktop-small) {
	.contact-us {
		.container {
			.contact-map {
				padding-bottom: 40%;
			}
		}
	}
}
