/* Base Styling */
body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vmax;
  padding: 0;
  width: 100%;
}

h1, h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

/* Gallery Overview */
.gallery-overview {
  padding: 2.5vmax 5vw 0;
}
.gallery-overview .h1-border {
  align-self: flex-start;
}
.gallery-overview .h1-border span {
  padding: 0vw 5ch;
  border-bottom: 0.5vmax solid #0F6938;
}

/* Custom Scrollbar */
/* Image gallery */
.container {
  display: grid;
  padding: 0vh 5vw;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  margin-bottom: 5em;
}

.grid-item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: black;
  grid-column: span 12;
}
.grid-item .item-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}
.grid-item .item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.grid-item:hover .item-image {
  opacity: 1;
}
.grid-item:hover .item-image img {
  transform: scale(1.1);
}
.grid-item .section-image {
  opacity: 1;
}
.grid-item .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  font-size: clamp(12px, 0.9vw, 10rem);
  pointer-events: none;
}
.grid-item .item-text h2 {
  font-family: "Raleway", sans-serif;
}
.grid-item .item-text h2,
.grid-item .item-text p {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6862745098);
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(56, 56, 56, 0.7607843137);
  opacity: 0;
  pointer-events: none;
  /* Modal Header */
  /* Modal Content */
}
.modal .modal-header {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  background-color: rgba(56, 56, 56, 0.4666666667);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.modal .modal-header .number-text {
  color: white;
}
.modal .modal-header .modal-header-icons *:hover {
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-header .modal-header-icons i {
  padding-left: 20px;
  color: #FFFFFF;
}
.modal .modal-header .modal-header-icons a {
  color: rgba(255, 255, 255, 0);
}
.modal .modal-content {
  height: 100vh;
  width: auto;
  position: relative;
  /* Previous & Next Buttons */
}
.modal .modal-content .slide-container {
  flex: 1;
}
.modal .modal-content .slide-container .lightbox-slide {
  cursor: -webkit-grab;
  cursor: grab;
  height: 100vh;
  width: auto;
  overflow: visible;
  will-change: transform;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal .modal-content .slide-container .lightbox-slide:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.modal .modal-content .slide-container .lightbox-slide img {
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform;
  transition: 0.4s ease-in-out;
  transform: scale(0);
  -o-object-fit: contain;
     object-fit: contain;
}
.modal .modal-content #prev,
.modal .modal-content #next {
  cursor: pointer;
  border-radius: 3px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  background-color: rgba(56, 56, 56, 0.5843137255);
  color: #FFFFFF;
  padding: 5vh 1.5vw;
  margin: 3%;
  position: absolute;
  top: 50%;
  margin-top: -2.5%;
  z-index: 5;
}
.modal .modal-content #next {
  right: 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .container .grid-item {
    grid-column: span 6;
  }
  /* Custom Scrollbar */
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .container .grid-item {
    grid-column: span 4;
  }
  .container .grid-item:nth-child(5n),
.container .grid-item:nth-child(5n-1) {
    grid-column: span 6;
  }
}
@media screen and (min-width: 1200px) {
  .container .grid-item {
    grid-column: span 3;
  }
  .container .grid-item:nth-child(7n),
.container .grid-item:nth-child(7n-1),
.container .grid-item:nth-child(7n-2) {
    grid-column: span 4;
  }
}/*# sourceMappingURL=gallery.css.map */