/* Base Styling */
body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}

section {
  padding: 2vw 5vw;
}

h1, h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

/* Gallery Overview */
.gallery-overview .h1-border {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.gallery-overview .h1-border span {
  padding: 0vw 5ch;
  border-bottom: 0.5rem solid #0F6938;
}

/* Custom Scrollbar */
/* Image gallery */
.container {
  display: -ms-grid;
  display: grid;
  padding: 0vh 5vw;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  margin-bottom: 5em;
}

.grid-item {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: black;
  grid-column: span 12;
}

.grid-item .item-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.6;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.grid-item .item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.grid-item:hover .item-image {
  opacity: 1;
}

.grid-item:hover .item-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grid-item .section-image {
  opacity: 1;
}

.grid-item .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
  font-size: 0.7rem;
  pointer-events: none;
}

.grid-item .item-text h2 {
  font-family: "Raleway", sans-serif;
}

.grid-item .item-text h2,
.grid-item .item-text p {
  text-shadow: 1px 1px 5px #000000af;
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #383838c2;
  opacity: 0;
  pointer-events: none;
  /* Modal Header */
  /* Modal Content */
}

.modal .modal-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100vw;
  background-color: #38383877;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
}

.modal .modal-header .number-text {
  color: white;
}

.modal .modal-header .modal-header-icons *:hover {
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-header .modal-header-icons i {
  padding-left: 20px;
  color: #FFFFFF;
}

.modal .modal-header .modal-header-icons a {
  color: rgba(255, 255, 255, 0);
}

.modal .modal-content {
  height: 100vh;
  width: auto;
  position: relative;
  /* Previous & Next Buttons */
}

.modal .modal-content .slide-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal .modal-content .slide-container .lightbox-slide {
  cursor: -webkit-grab;
  cursor: grab;
  height: 100vh;
  width: auto;
  overflow: visible;
  -webkit-transition: 0s;
  transition: 0s;
  will-change: transform;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal .modal-content .slide-container .lightbox-slide:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.modal .modal-content .slide-container .lightbox-slide img {
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: transform;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -o-object-fit: contain;
     object-fit: contain;
}

.modal .modal-content #prev,
.modal .modal-content #next {
  cursor: pointer;
  border-radius: 3px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  background-color: #38383895;
  color: #FFFFFF;
  padding: 5vh 1.5vw;
  margin: 3%;
  position: absolute;
  top: 50%;
  margin-top: -2.5%;
  z-index: 5;
}

.modal .modal-content #next {
  right: 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .container .grid-item {
    grid-column: span 6;
  }
  /* Custom Scrollbar */
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .container .grid-item {
    grid-column: span 4;
  }
  .container .grid-item:nth-child(5n),
  .container .grid-item:nth-child(5n - 1) {
    grid-column: span 6;
  }
}

@media screen and (min-width: 1200px) {
  .container .grid-item {
    grid-column: span 3;
  }
  .container .grid-item:nth-child(7n),
  .container .grid-item:nth-child(7n - 1),
  .container .grid-item:nth-child(7n - 2) {
    grid-column: span 4;
  }
}
/*# sourceMappingURL=gallery.css.map */