@import "./scss/_variables.scss";
@import "./scss/_slider-btn.scss";

body, html {
	scroll-behavior: smooth;
    height: 100%
}

main, section {
    @include flex-centered;
    padding: 0;
    margin-bottom: 8vmax;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover
}



// Hero Banner
.hero-banner {
    @include flex-centered;
    width: 100%;
    
    // Background
    background-size: cover;
    background-image: url("../images/homepage/hero-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    
    font-family:  $font-primary;
    color: $primary-secondary;

    .hero-banner-container {
        @include flex-centered;
        height: 100vh;
        // padding: 10vw 10vw;
        align-self: stretch;
        text-align: center;
        background: linear-gradient(0deg, rgba(0,2,3,0.73) 25%, rgba(0,0,0,0) 100%);

        img {
            margin: 2em;
            width: 50vmin;
            width: clamp(5em, 50vmin, 15em);
        }

        .hero-school-name {
            text-transform: uppercase;

            h2 {
                margin: 0;
                font-weight: bold;
                font-size: clamp(1.2rem, 3.5vw, 2rem);
            }
            p {
                margin: 0;
                font-weight:100;
                font-size: clamp(.8rem, 1.3vw, 1.5rem)
            }
        }

        .hero-school-info {
            @include flex-centered;
            margin-top: 10vh;
            margin-bottom: 2vh;

            h2 {
                margin: 0;
                line-height: 1;
                // font-size: clamp(1.2rem, 5vw, 3rem);
                font-weight: 100;
            }
            p {
                margin-top: .7em;
                line-height: 1;
                max-width: 70%;
                font-size: clamp(.9rem, 1.25vw, 2rem);
                font-family: $font-secondary;
            }
        }
    }
}

// About Us
.about-us {
    @include flex-centered;
    padding: 0;

    .about-us-content { 
        padding: 0;
    }

    .about-us-img {
        img {
            width: 100%;
        }
    }
    .about-us-text {
        background-color: $dark;
        padding-block: 5vmin;
        padding-inline: $global-margin;
        color: $primary-secondary;
        font-family: $font-secondary;

        h1 {
            font-family: $font-primary;
            font-weight: 500;
            font-size: clamp(18px, 10vw, 1.5rem);
        }
        p {
            margin: 1em 0;
        }
    }

    .about-us-statblock {
        
        background-color: $accent;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        // border-radius: .5rem;
        width: 100%;

        .stat {
            flex-grow: 1;
            padding: 1em 2em;
            text-align: center;
            .number {
                font-size: 2rem;
                font-weight: bold;
            }

            $stat-border: .01rem solid #B5872E;

            &:nth-of-type(1){
              border-right: $stat-border;  
              border-bottom: $stat-border;
            }
            &:nth-of-type(2){
                border-left: $stat-border;  
                border-bottom: $stat-border;  
            }
            &:nth-of-type(3){
                
              border-right: $stat-border;  
                border-top: $stat-border;  
            }
            &:nth-of-type(4){
                border-left: $stat-border;  
                border-top: $stat-border;  
            }
        }
    }
}

.more-info {
    background-color: $other;

    .more-info-text {
        padding-block: 2em;
        margin-inline: $global-margin;
        font-weight: 500;

        * {
            margin-bottom: 2em 0em;
        }
    }

    .more-info-comma {
        padding: 2vw;
    }

    .more-info-slideshow {
        @include flex-centered;

        .more-info-comma {
            display: none
        }

        .selection {
            @include flex-centered;
            overflow-x: hidden;
            max-width: 90vw;

            .slider {
                display: flex;
                scroll-behavior: smooth;
                scroll-snap-type: inline mandatory;
                scroll-snap-align: none;
                overflow-x: scroll;
                padding: 2vw 0vw;
    
                // Hide scrollbar
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                  }
    
                .card-wrapper {
                    width: 100%;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    &:last-of-type {
                        margin-right: 100%;
                    }
                }
    
                .card {
                    max-width: 200px;
                    position: relative;
    
                    .card-image {
                        opacity: 1;
                        overflow: hidden;

                        img {
                            width: 100%;
                            cursor: pointer;
                            transition: 0.25s ease-in-out;
                        }
                    }
                    
                    
                    .card-anchor {
                        width: 100%;
                        height: 10%;
                        position: absolute;
                        // left: 0;
                        top: -50vh;
                        // right: 0;
                    }

                    &:hover .card-image img {
                        transform: scale(1.1);
                    }
    
                    .card-text {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;

                        @include flex-centered;

                        color: $primary-secondary;

                        background: rgb(15,105,56);
                        background: -moz-linear-gradient(180deg, rgba(15,105,56,0) 0%, rgba(0,0,0,0.75) 100%);
                        background: -webkit-linear-gradient(180deg, rgba(15,105,56,0) 0%, rgba(0,0,0,0.75) 100%);
                        background: linear-gradient(180deg, rgba(15,105,56,0) 0%, rgba(0,0,0,0.75) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f6938",endColorstr="#000000",GradientType=1);
                    }
                }
            }
    
        }


        .paginator {
            margin: .5em 0em;
            width: clamp(10vmax, 20vmax, 10vmax);
            display: flex;
            justify-content: space-around;

            .paginator-item {
                padding: clamp(1px, .2rem, 2vw);
                border-radius: 50%;
                
                aspect-ratio: 1/1;
                line-height: 0;
                border: .2rem solid $dark;
                background-color: $dark;
                cursor: pointer;

                &:hover {
                    border: .2rem solid lighten($dark, 10%);
                    background-color: lighten($dark, 10%);
                }
            }
        }
    }
}

.why-pihss {
    // Make smaller
    @include flex-centered;
    
    .why-pihss-container {
        @include flex-centered;
        
        background-color: $accent;
        height: min-content;
        padding-block: 2vmax;
    }

    .why-pihss-description {
        .content {
            h1 {
                font-family: $font-primary;
            }
        }

        .btn {
            margin: 1.5em;
            display: flex;

            .btn-wrapper {
                display: flex;
                justify-content: center;
                
                transition : .25s ease-in-out;

                a {
                cursor: pointer;
                text-decoration: none;
        
                padding: .75em 2em;
                background-color: $primary-secondary;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                border-radius: .5em;
        
                text-transform: uppercase;
                font-weight: 600;
            }
                &:hover {
                    transform: scale(1.05);
                }
            }
            
        }
    }

    .why-pihss-selection {
        position: static;
        display: flex;
        // display: none;
        align-items: center;
        justify-content: center;
        max-width: 90vw;

        .why-pihss-slider {
            display: flex;
            scroll-behavior: smooth;
            scroll-snap-type: inline mandatory;
            overflow-x: scroll;
            padding: 2vmax 0vw;

            // Hide scrollbar
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
              }
        }

        .card-wrapper {
            width: 100%;
            scroll-snap-align: start;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
        }
        .card {
            background-color: $primary-secondary;
            border-radius: .5em;
            padding: 1.5em 1em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            aspect-ratio: 1/1;
            max-width: 200px;

            .color {
                border-radius: .5em;
                aspect-ratio: 1/1;
                width: 20%;
            }
            .color-1 {
                background-color: $dark;
            }
            .color-2 {
                background-color: #0E9447;
            }
            .color-3 {
                background-color: #3AB44B;
            }
            .color-4 {
                background-color: #6BBB41;
            }

            .content {
                h1 {
                    font-family: $font-primary;
                    font-size: clamp(24px, 1.5vw, 2rem);
                }
                p {
                    font-size: clamp(12px, 2vmax, 1rem);
                }
            }
        }
    }
}

.administrative-affairs {

    background: rgb(15,105,56);
    background: -moz-linear-gradient(180deg, rgba(15,105,56,0) 0%, rgba(207,236,193,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(15,105,56,0) 0%, rgba(207,236,193,1) 100%);
    background: linear-gradient(180deg, rgba(15,105,56,0) 0%, rgba(207,236,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f6938",endColorstr="#cfecc1",GradientType=1);

    .aac-affairs-container {
        padding: 1em;
    }

    h1 {
        font-family: $font-primary;
        font-weight: 500;
        text-align: center;

        font-size: clamp(16px, 3vmax, 2rem);
    }

    .staff {
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 90vw;
        .aac-slider-wrapper {
            overflow: hidden;
            
            .aac-slider {
                display: flex;
                scroll-behavior: smooth;
                scroll-snap-type: inline mandatory;
                overflow-x: scroll;
                transition : .3s ease-in-out;
                padding: 5vw 0vw;

                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                  }
                padding: 0;

                li {
                    flex-shrink: 0;
                    // background: rgb(0,20,20);
                    // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    width: clamp(2rem, 100%, 350px);
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;    
                    padding: 5vw 0vw;

                    .card {
                        background-color: $primary-secondary;
                        
                        border-radius: 6px 6px 0 0 ;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                        aspect-ratio: 4/5;
                        max-width: 200px;
                        line-height: initial;
                        
                        p {
                            margin: 0;
                        }
                        
                        .aac-image {
                            object-fit: cover;
                        }

                        .aac-person {
                            padding: 1em;
                            text-align: center;
                            background-color: $primary-secondary;
        
                            .name {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.news-and-events-container {
    padding-block: 15vh; 
    max-width: 1080px;

    .nac-cards {
        @include flex-centered;
    }

    .nac-events {
        @include flex-centered;
        display: grid;
        margin-bottom: 2em;
        row-gap: 2em;
    }


    article {
        position: relative;

        border-radius: 0em 2em 0em 2em;

        overflow: hidden;
        aspect-ratio: 5/4;
        transition: all .5 ease-in-out;
        
        &:hover {
            img {
            transform: scale(1.1);  
            }
        }

        .article-image {
            height: 100%;

            img {
                height: 100%;
                
                transition: all .5s ease-in-out;
                object-fit: cover;
            }

        }


        .article-text {
            display: flex;
            flex-direction: column;
            max-width: 12rem;

            p {
                margin-bottom: .5em;
            }
        }

        .article-content {
            height: 100%;
            width: 100%;

            position: absolute;
            bottom: 0;

            display: flex;
            align-items: flex-end;
            

                padding-bottom: 1em;
                padding-left: 1em;

            color: $primary-secondary;
            background: rgb(0, 0, 0);
            background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);


            .content-wrapper {
                flex-grow: 1;

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 2em;
            }
        }
    }

    
    .nac-upcoming-events {
        @include flex-centered;
        display: grid;

        article {
            .article-content {
                align-items: center;
                padding: 0;
                background: hsla(146, 80%, 21%, 0.70);    

                .content-wrapper {
                    @include flex-centered;

                    .icon {
                        width: 5rem;
                    }

                    .btn {
                        text-decoration: none;
                        background-color: $primary-secondary;
                        color: black;
                        border-radius: .5em;
                        padding: .75em 1.25em;
                        margin: .5em;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet-landscape){
    .about-us {
        .about-us-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            background: linear-gradient(transparent 10%, $dark 10%, $dark 90%, transparent 90%);
    
            .about-us-text {
                max-width: 60%;
                background: none;
                z-index: 1;
            }
    
            .about-us-img {
                z-index: 1;
                width: 100%;
                margin-right: $global-margin;
                margin-left: 1vw;
            }
        }    

        .about-us-statblock {
            display: flex;

            .stat {
                border: none;

                &:nth-of-type(1){
                    border-right: none;  
                    border-bottom: none;
                  }
                  &:nth-of-type(2){
                      border-left: none;  
                      border-bottom: none;  
                  }
                  &:nth-of-type(3){
                      
                    border-right: none;  
                      border-top: none;  
                  }
                  &:nth-of-type(4){
                      border-left: none;  
                      border-top: none;  
                  }

                  
                &:nth-child(1){
                    border: none;
                }
            }
        }
    }

    .more-info {
        display: flex;
        flex-direction: row; 
        justify-content: flex-start;
        padding-block: 2vmax;

        .more-info-text {
            .more-info-comma {
                display: none;
            }
            max-width: 50%;
        }

        .more-info-slideshow {
            margin-right: $global-margin;

            .more-info-comma {
                display: initial;
                align-self: flex-start;
                padding-bottom: 0;
            }
            .selection {
                .slider {
                    .card-wrapper {
                        width: 50%;
                    }
                }
            }
        }
    }

    .why-pihss {
        // margin-block: 10em;

        .why-pihss-container {
            flex-direction: row-reverse;
            justify-content: flex-start;    
            position: relative;
            // padding-right: 15vw;

            .why-pihss-description {
                max-width: 40%;
                margin-left: 5vmax;
                margin-right: $global-margin;
                text-align: justify;
            }

            .slider-btn {
                display: none;
            }

            .why-pihss-selection {
                position: absolute;
                left: $global-margin;

                .why-pihss-slider {
                    overflow-x: visible;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1vw;

                    .card-wrapper:nth-child(1n){
                        transform: translateY(-3vw);
                    }
                    .card-wrapper:nth-child(2n) {
                        transform: translateY(3vw);
                    }
                }
            }
        }
    }

    .news-and-events-container {
        .nac-cards {
            flex-direction: row;
        }
    
        .nac-events {
            grid-template-columns: 1fr 1fr;
            column-gap: 2em;
            margin-bottom: 0em;
            margin-right: 2em;
        }

    }
}