@import "./scss/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, html {
	scroll-behavior: smooth;
    height: 100%
}

main, section {
    @include flex-centered;
    padding: 0;
    margin-bottom: 5vmax;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover
}

.slider-btn {
    // margin: 1vmax;

    background: none;
    border: none;

    font-family: 'Poppins';
    font-size: clamp(1.5rem, 10vmin, 1.4rem);
    color: $primary-secondary;

    background-color: $dark;
    box-shadow: none;
    line-height: 0;
    text-align: center;
    padding: clamp(3px, .9rem, 5vw);
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
}

.slider-btn:hover {
    transform: scale(1.05);
}


// Hero Banner
.hero-banner {
    @include flex-centered;
    width: 100%;
    
    // Background
    background-size: cover;
    background-image: url("../images/homepage/image-4.png");
    background-repeat: no-repeat;
    background-position: center;
    
    font-family:  $font-primary;
    color: $primary-secondary;

    .hero-banner-container {
        @include flex-centered;

        padding: 10vw 10vw;
        align-self: stretch;
        text-align: center;
        background: linear-gradient(0deg, rgba(0,2,3,0.73) 25%, rgba(0,0,0,0) 100%);

        img {
            margin: 2em;
            width: 10em;
        }

        .hero-school-name {
            text-transform: uppercase;

            h2 {
                margin: 0;
                font-weight: bold;
            }
            p {
                margin: 0;
                font-weight: lighter;
            }
        }

        .hero-school-info {
            @include flex-centered;
            margin-top: 10vh;
            margin-bottom: 2vh;

            h2 {
                margin: 0;
                line-height: 1;
                font-size: 1.5rem;
                font-weight: 100;
            }
            p {
                margin: 0;
                line-height: 1;
                font-size: .9rem;
                font-family: $font-secondary;
            }
        }
    }
}

// About Us
.about-us {
    @include flex-centered;
    padding: 0;

    .about-us-content { 
        padding: 0;
    }
    .about-us-text {
        
        background-color: $dark;
        padding: 5vw;
        color: $primary-secondary;
        font-family: $font-secondary;

        h1 {
            font-family: $font-primary;
            font-weight: 500;
        }
    }

    .about-us-statblock {
        background-color: $accent;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: .5rem;

        transform: translateY(-2rem);

        .stat {
            padding: 1em 2em;
            text-align: center;
            line-height: 0;
            .number {
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
}

// TODO: Figure this out
.more-info {
    background-color: $other;

    .more-info-text {
        padding: 2em;
        font-weight: 500;

        * {
            margin-bottom: 2em 0em;
        }
    }

    .more-info-slideshow {
        @include flex-centered;

        .scroll {
            @include flex-centered;

            width: 90vw;
            overflow: scroll hidden;
            .card {
                img {
                    max-width: 200px;
                }
            }
        }

        .paginator {
            margin: .5em 0em;
            width: clamp(10vmax, 20vmax, 10vmax);
            display: flex;
            justify-content: space-around;

            span {
                padding: clamp(1px, .2rem, 2vw);
                border-radius: 50%;
                
                aspect-ratio: 1/1;
                line-height: 0;
                border: .2rem solid $dark;
                cursor: pointer;

                &:focus {
                    background-color: black;
                }
            }
        }
    }
}

.why-pihss {
    background-color: $accent;
    @include flex-centered;

    .why-pihss-container {
        @include flex-centered;
        padding: 2vmax;
    }

    .why-pihss-description {
        .content {
            h1 {
                font-family: $font-primary;
            }
        }

        .btn {
            margin: 1.5em;
            button {
                background: none;
                border: none;
        
                padding: .75em 2em;
                background-color: $primary-secondary;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                border-radius: .5em;
        
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    .why-pihss-selection {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90vw;

        .why-pihss-slider {
            display: flex;
            scroll-behavior: smooth;
            scroll-snap-type: inline mandatory;
            overflow: scroll hidden;
            padding: 5vw 0vw;

            // Hide scrollbar
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
              }
        }
        .card-wrapper {
            width: 100%;
            scroll-snap-align: start;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
        }
        .card {
            background-color: $primary-secondary;
            border-radius: .5em;
            padding: 1.5em 1em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            aspect-ratio: 1/1;
            max-width: 200px;

            .colour {
                border-radius: .5em;
                aspect-ratio: 1/1;
                width: 20%;
            }
            .colour-1 {
                background-color: $dark;
            }

            .content {
                h1 {
                    font-family: $font-primary;
                    font-size: clamp(24px, 1.5vw, 2rem);
                }
                p {
                    font-size: clamp(18px, 1.25vw, 2rem);
                }
            }
        }
    }
}

.administrative-affairs {
    .aac-affairs-container {
        padding: 1em;
    }

    h1 {
        font-family: $font-primary;
        font-weight: 500;
        text-align: center;

        font-size: clamp(16px, 3vmax, 2rem);
    }

    .aac-slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;

        .staff {
            overflow: hidden;
            
            .slider {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                // overflow: hidden;
                transition : .3s ease-in-out;
                
                padding: 0; 
                li {
                    position: relative;
                    flex-shrink: 0;
                    background: rgb(0,20,20);
                    border-radius: 6px 6px 0 0 ;
                    z-index: 1;
                    margin-right: 20px;
                    width: 220px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                    img {
                        width: 100%;
                    }
                    max-width: initial;
                    background-color: $primary-secondary;
                    
                    p {
                        margin: 0;
                    }
                    
                    .aac-person {
                        padding: 1em;
                        text-align: center;
    
                        .name {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    // TODO: Fix gradient
    background: linear-gradient(0deg, rgba(207,236,193,0.73) 100%, rgba(213,237,223,0) 0%);
}