.slider-btn, .news-btn {
  border-radius: 50%;
  background-color: #0F6938;
  width: clamp(20px, 4.5vw, 18rem);
  color: #FFFFFF;
  text-align: center;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in 0.25s;
}
.slider-btn .icon, .news-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-btn:hover, .news-btn:hover {
  box-sizing: border-box;
  border: 0.2rem solid #0F6938;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0F6938;
}

.news-btn {
  background-color: #62AC3B;
  width: clamp(20px, 4.5vw, 18rem);
}
.news-btn:hover {
  box-sizing: border-box;
  border: 0.2rem solid #62AC3B;
  background-color: rgba(236, 236, 236, 0.1);
  color: #62AC3B;
}

body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 5vmax;
  width: 100%;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 5vw;
}
.news-container .h1-border {
  align-self: flex-start;
}
.news-container .h1-border span {
  padding: 0vw 5ch;
  border-bottom: 0.5rem solid #0F6938;
}
.news-container .news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2em;
       column-gap: 2em;
  row-gap: 1em;
}
.news-container .news article {
  position: relative;
  border-radius: 0em 2em 0em 2em;
  overflow-x: hidden;
  overflow-y: hidden;
  aspect-ratio: 5/4;
  transition: all 0.5 ease-in-out;
}
.news-container .news article:hover img {
  transform: scale(1.1);
}
.news-container .news article .article-image {
  height: 100%;
}
.news-container .news article .article-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/6;
  transition: all 0.5s ease-in-out;
}
.news-container .news article .article-text {
  display: flex;
  flex-direction: column;
  max-width: 12rem;
}
.news-container .news article .article-text p {
  margin-bottom: 0.5em;
}
.news-container .news article .article-content {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
  padding-left: 1em;
  color: #FFFFFF;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.news-container .news article .article-content .content-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2em;
}

#calendar {
  margin: 5vw;
}

.fc-state-default {
  background-color: #0F6938;
  background-image: none;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(27, 155, 85, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-head {
  background-color: #dedede;
}

.fc-body {
  background-color: #f9f9f9;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td {
  border-color: rgba(56, 56, 56, 0.5);
}

.fc-content-skeleton thead {
  background-color: #CFECC1;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 1px;
  line-height: normal;
}

.fc-other-month {
  background-color: #efefef;
}

.fc-body {
  height: 80%;
}

@media screen and (max-width: 1024px) {
  .news-container .news {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-container .news article {
    max-width: 45vw;
  }
}
@media screen and (max-width: 768px) {
  .news-container .news {
    grid-template-columns: 1fr;
  }
  .news-container .news article {
    max-width: 90vw;
  }
}/*# sourceMappingURL=news-events.css.map */