.slider-btn, .news-btn {
  border-radius: 50%;
  background-color: #0F6938;
  min-width: 3rem;
  width: 40%;
  max-width: 5rem;
  color: #FFFFFF;
  text-align: center;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all ease-in .25s;
  transition: all ease-in .25s;
}

.slider-btn .icon, .news-btn .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-btn:hover, .news-btn:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2rem solid #0F6938;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0F6938;
}

.news-btn {
  background-color: #62AC3B;
  min-width: 2rem;
  width: 30%;
  max-width: 4rem;
}

.news-btn:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2rem solid #62AC3B;
  background-color: rgba(236, 236, 236, 0.1);
  color: #62AC3B;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
}

main, section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 5vmax;
  width: 100%;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.news-container .h1-border {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.news-container .h1-border span {
  padding: .00vw 5ch;
  border-bottom: 0.5rem solid #0F6938;
}

.news-container .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: 1em;
}

.news-container .news article {
  position: relative;
  border-radius: 0em 2em 0em 2em;
  overflow: hidden;
  aspect-ratio: 5/4;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
}

.news-container .news article:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news-container .news article .article-image {
  height: 100%;
}

.news-container .news article .article-image img {
  height: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-container .news article .article-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 12rem;
}

.news-container .news article .article-text p {
  margin-bottom: .5em;
}

.news-container .news article .article-content {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 1em;
  padding-left: 1em;
  color: #FFFFFF;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.news-container .news article .article-content .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 2em;
}
/*# sourceMappingURL=news-events.css.map */