.slider-btn, .news-btn {
  border-radius: 50%;
  background-color: #0F6938;
  min-width: 2rem;
  width: 40%;
  max-width: 3rem;
  color: #FFFFFF;
  text-align: center;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all ease-in .25s;
  transition: all ease-in .25s;
}

.slider-btn .icon, .news-btn .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-btn:hover, .news-btn:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2rem solid #0F6938;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0F6938;
}

.news-btn {
  background-color: #62AC3B;
  min-width: 2rem;
  width: 30%;
  max-width: 4rem;
}

.news-btn:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2rem solid #62AC3B;
  background-color: rgba(236, 236, 236, 0.1);
  color: #62AC3B;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
}

main, section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
}

.article-overview {
  padding-inline: 15vmin;
}

.article-overview .h1-border {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.article-overview .h1-border span {
  padding: .00vw 5ch;
  border-bottom: 0.5rem solid #0F6938;
}

.article-viewer-wrapper {
  background-color: #F5F5F5;
  padding: 5vw 10vh;
  height: 60vh;
  margin-bottom: 20vh;
}

.article-viewer-wrapper .article-viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.article-viewer-wrapper .article-viewer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 2em;
}

.article-viewer-wrapper .article-viewer .content .article-img {
  position: relative;
  border-radius: 0em 2em 0em 2em;
  overflow: hidden;
  aspect-ratio: 5/4;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
}

.article-viewer-wrapper .article-viewer .content .article-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article-viewer-wrapper .article-viewer .content .article-img img {
  height: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-viewer-wrapper .article-viewer .content .article-text {
  margin-left: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 65%;
}

.article-viewer-wrapper .article-viewer .content .article-text .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  margin-bottom: 2em;
}
/*# sourceMappingURL=news-article.css.map */