@import "./scss/_variables.scss";

body, html {
	scroll-behavior: smooth;
    height: 100%
}

main, section {
    @include flex-centered;
    padding: 0;
    margin-bottom: 5vmax;
    width: 100%;
}

.h1-border {
    align-self: flex-start;
    span {
        padding: .00vw 5ch;
        border-bottom: .5rem solid $dark;
    }
}