/* Imports */
@import "./scss/variables";
@import "./scss/_slider-btn.scss";

/* Base Styling */
body,
html {
	scroll-behavior: smooth;
	height: 100%;
}

main,
section {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 5vmax;
	width: 100%;
}

main {
	h1 {
		font-family: $font-primary;
		font-weight: 500;
	}

	h2 {
		@extend h1;
		font-weight: 700;
		margin-bottom: 1em;
	}

	h3 {
		@extend h1;
		margin-bottom: 1em;
	}
}

/* Subpage Banner */
.subpage-banner {
	background: url("../images/banners/banner-8.jpg") repeat fixed 100%;
	background-size: cover;
	background-position: bottom;
}

/* Our School Overview */
.our-school-overview {
	padding: 2.5vmax $global-margin 0;

	.tab-overview:first-of-type {
		padding-bottom: 1em;
	}

	.internal-nav {
		padding: 2em 0em;
		min-width: 18vw;
	}
}

/* Facilities */
#facilities {
	padding: 0;

	.slideshow-wrapper {
		background-color: $other;

		max-width: 100vw;
		@include flex-centered;

		.facilities-slideshow {
			padding-inline: $global-margin;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow-x: hidden;

			.facilities-slider {
				display: flex;
				max-width: 80vw;
				overflow-x: scroll;
				-ms-overflow-style: none;
				scrollbar-width: none;

				transition: 0.3s ease-in-out;
				scroll-behavior: smooth;
				scroll-snap-type: inline mandatory;

				&::-webkit-scrollbar {
					display: none;
				}

				li {
					width: 100%;
					scroll-snap-align: start;
					flex-shrink: 0;
				}

				.card {
					flex-grow: 1;
					display: flex;
					justify-content: center;
					flex-direction: column;
					margin: $global-margin;

					img {
						width: 100%;
						aspect-ratio: 1/1;
						border-radius: 1rem;
						object-fit: cover;
						margin-bottom: $global-margin;
					}

					.content {
						text-align: left;

						p {
							padding-right: 1em;
							max-height: 250px;
							overflow-y: auto;

							/* Custom Scrollbar */
							-ms-overflow-style: auto; // IE and Edge
							scrollbar-width: auto; // Firefox

							&::-webkit-scrollbar-track {
								background-color: rgba($primary-secondary, 0.3);
								border-radius: 20px;
								border: solid 3px transparent;
							}

							&::-webkit-scrollbar {
								width: 5px;
								background-color: rgba($primary-secondary, 0.3);
								border-radius: 10px;
								display: block;
							}

							&::-webkit-scrollbar-thumb {
								background-color: rgba($primary-main, 0.6);
								border-radius: 10px;
							}
						}
					} // .content
				} // .card
			} // .facilities-slider
		} // .facilities-slideshow
	} // .slideshow-wrapper
} // #facilities

/* School Activities */
#school-activities {
	.school-activities-heading {
		margin: 0 $global-margin 2em;
	}

	.co-curricular-list {
		@include flex-centered;
		width: 100%;

		.activity-container {
			position: relative;
			background-color: $accent;
			width: 100%;
			padding-bottom: 100%;
			overflow: hidden;
			margin-bottom: 5%;

			.content {
				position: absolute;
				width: 100%;
				height: 100%;
				padding: 5%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.decorated {
					display: block;
					overflow: hidden;
				}

				.decorated > span {
					position: relative;
					display: inline-block;
				}

				.decorated > span:after {
					content: "";
					position: absolute;
					top: 50%;
					border-bottom: 2px solid;
					width: 100vw;
					margin: 0 20px;
					left: 100%;
				}

				.activity-images {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(4, 1fr);
					gap: 1em;
					height: 100%;
					align-items: stretch;
					overflow: hidden;

					img {
						object-fit: cover;
						width: 100%;
						grid-row: span 2;
					}

					& > img:nth-of-type(2) {
						grid-column: 2;
						grid-row: 1 / span 3;
					}
				}

				button {
					grid-column: 2;
					grid-row: 4;
					padding: 10px;
					width: 100%;
					background-color: white;
					border: 1px solid rgba($font-colour, 0.4);
					border-radius: 4px;
					justify-self: center;
					align-self: center;
					transition: 0.2s ease-in-out;

					a {
						text-decoration: none;
						color: $font-colour;
					}

					&:hover {
						cursor: pointer;
						border: 1px solid rgba($font-colour, 1);
					}
				}
			} // .content
		} // .activity-container
	} // .co-curricular-list
}

/* Study Programme */
#study-programme {
	padding: 0 $global-margin;

	.shift-container {
		.card-wrapper {
			@include flex-centered;

			.card {
				@include flex-centered;

				background-color: rgba($other, 0.4);
				margin: 0 $global-margin $global-margin;
				padding: $global-margin;
				border-radius: 0.5em;
				width: 100%;
				flex-grow: 1;

				h2 {
					text-align: center;
					width: 90%;
					margin-bottom: 0.5em;
					padding-bottom: 0.5em;
					border-bottom: black 1px solid;
				}
			} // .card
		} // .card-wrapper
	} // .shift-container

	.programme-container {
		p,
		ol,
		ul,
		.card-list {
			margin-bottom: 1.5em;
		}

		ol {
			padding-left: 1em;

			li::marker,
			h2 {
				color: $dark;
				font-weight: bold;
			}
		}

		ul {
			padding-left: 2.5em;
			list-style-type: disc;
		}

		h3 {
			font-weight: bold;
		}

		.programme-list {
			display: flex;
			flex-wrap: wrap;

			& > * {
				margin-bottom: 1.5em;
			}

			li {
				flex-grow: 1;
			}
		}

		.card-list {
			display: grid;
			grid-template-columns: 1fr;
			background-color: rgba($other, 0.4);
			border-radius: 0.5em;
			width: 100%;

			.card:first-child {
				border: none;
			}

			.card {
				padding: $global-margin;
				border: black solid;
				border-width: 1px 0 0 0;

				h3 {
					text-align: center;
				}

				& > ol {
					& > li {
						list-style-type: none;
						padding-left: 0;
					}
				}
			} // .card
		} // .card-list
	} // .programme-container
}

// Media Queries
@media screen and (min-width: $breakpoint-tablet-portrait) {
	/* Our-School Overview */
	.our-school-overview {
		display: flex;
		flex-direction: column;

		.content {
			display: flex;
			justify-content: space-between;
		}

		.content-text {
			padding-right: $global-margin;
		}
	}

	/* Facilities */
	#facilities {
		.slideshow-wrapper {
			.facilities-slideshow {
				.facilities-slider {
					.card {
						img {
							aspect-ratio: initial;
						}

						.content {
							p {
								max-height: 45vh;
							}
						}
					}
				}
			}
		}
	}

	/* School Activities */
	#school-activities {
		.co-curricular-list {
			flex-direction: row;
			flex-wrap: wrap;
			padding: 2em $global-margin;

			.activity-container {
				border-radius: 1em;
				border: 1px solid rgba($font-colour, 0.4);
				box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);

				width: 47%;
				padding-bottom: 47%;

				&:nth-of-type(2n) {
					margin-left: 5%;
				}
			}
		}
	}

	/* Study Programme */
	#study-programme {
		.shift-container {
			.card-wrapper {
				flex-direction: row;

				.card {
					justify-content: flex-start;
				}
			}
		}

		.programme-container {
			.col-2 {
				grid-template-columns: repeat(2, 1fr);
			}

			.col-3 {
				grid-template-columns: repeat(3, 1fr);
			}

			.card-list {
				.card:first-child {
					border: none;
				}

				.card {
					border-width: 0 0 0 1px;
				}
			}
		}
	}
}

@media screen and (min-width: $breakpoint-tablet-landscape) {
	/* Facilities */
	#facilities {
		.slideshow-wrapper {
			.facilities-slideshow {
				.facilities-slider {
					.card {
						flex-direction: row;
						justify-content: space-between;
						margin: 5vh 2vw;

						img {
							height: 50vh;
							width: 40vw;
							margin-bottom: 0;
						}

						.content {
							max-width: 40%;
							align-self: center;
						}
					}
				}
			}
		}
	}

	/* School Activities */
	#school-activities {
		.co-curricular-list {
			.activity-container {
				.content {
					button {
						width: 75%;
					}
				}
			}
		}
	}
}
