.slider-btn, .news-btn {
  border-radius: 50%;
  background-color: #0F6938;
  min-width: 2rem;
  width: 40%;
  max-width: 3rem;
  color: #FFFFFF;
  text-align: center;
  border: 0.2rem solid rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in 0.25s;
}
.slider-btn .icon, .news-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-btn:hover, .news-btn:hover {
  box-sizing: border-box;
  border: 0.2rem solid #0F6938;
  background-color: rgba(0, 0, 0, 0.1);
  color: #0F6938;
}

.news-btn {
  background-color: #62AC3B;
  min-width: 2rem;
  width: 30%;
  max-width: 4rem;
}
.news-btn:hover {
  box-sizing: border-box;
  border: 0.2rem solid #62AC3B;
  background-color: rgba(236, 236, 236, 0.1);
  color: #62AC3B;
}

body,
html {
  scroll-behavior: smooth;
  height: 100%;
}

main,
section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  padding: 2vw 5vw;
}

h1, h3, h2 {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 1em;
}

/* Tab Styling */
.tab-header,
.tab-overview,
.tab-content {
  display: none;
}

.active {
  display: block;
}

/* Subpage Banner */
.subpage-banner {
  background: url("../images/banners/banner-8.jpg") repeat fixed 100%;
  background-size: cover;
  background-position: bottom;
}

/* Our School Overview */
.our-school-overview .h1-border {
  align-self: flex-start;
}
.our-school-overview .internal-nav {
  padding: 2em 0em;
  min-width: 18vw;
  display: hidden;
}

/* Facilities */
#facilities {
  padding: 0;
}
#facilities .facilities-slideshow {
  background-color: #CFECC1;
  position: static;
  display: flex;
  padding: 0 3vw;
  padding-inline: 1vw;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}
#facilities .facilities-slideshow .slider-btn, #facilities .facilities-slideshow .news-btn {
  background-color: #FFFFFF;
  color: #0F6938;
}
#facilities .facilities-slideshow .facilities-slider {
  display: flex;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
  overflow-x: scroll;
  padding: 2vmax 0vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#facilities .facilities-slideshow .facilities-slider::-webkit-scrollbar {
  display: none;
}
#facilities .facilities-slideshow .card-wrapper {
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
#facilities .facilities-slideshow .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
}
#facilities .facilities-slideshow .card img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#facilities .facilities-slideshow .card .content {
  padding: 2em 0;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#facilities .facilities-slideshow .card .content::-webkit-scrollbar {
  display: none;
}
#facilities .facilities-slideshow .card .content h1, #facilities .facilities-slideshow .card .content h2, #facilities .facilities-slideshow .card .content h3 {
  font-family: "EB Garamond", serif;
  font-size: clamp(24px, 1.5vw, 2rem);
}
#facilities .facilities-slideshow .card .content p {
  font-size: clamp(12px, 2vmax, 1rem);
}
#facilities .facilities-slideshow .card .content ul li {
  align-items: flex-start;
}
#facilities .facilities-slideshow .card .content ul {
  list-style-type: "- ";
  padding-left: 1em;
}
#facilities .facilities-slideshow .card .content ol {
  list-style-type: decimal;
  padding-left: 2em;
}
#facilities .facilities-slideshow .card .content p,
#facilities .facilities-slideshow .card .content h3 {
  margin-bottom: 1em;
}

/* Co-Curricular Activities */
#co-curricular {
  padding: 0;
}
#co-curricular .co-curricular-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#co-curricular .co-curricular-list .activity-container {
  position: relative;
  background-color: #EEE1B2;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  margin-bottom: 5%;
}
#co-curricular .co-curricular-list .activity-container .content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#co-curricular .co-curricular-list .activity-container .content .decorated {
  display: block;
  overflow: hidden;
}
#co-curricular .co-curricular-list .activity-container .content .decorated > span {
  position: relative;
  display: inline-block;
}
#co-curricular .co-curricular-list .activity-container .content .decorated > span:after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 2px solid;
  width: 100vw;
  margin: 0 20px;
  left: 100%;
}
#co-curricular .co-curricular-list .activity-container .content .activity-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  height: 100%;
  align-items: stretch;
}
#co-curricular .co-curricular-list .activity-container .content .activity-images img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  grid-row: span 2;
}
#co-curricular .co-curricular-list .activity-container .content .activity-images > img:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1/span 3;
}
#co-curricular .co-curricular-list .activity-container .content button {
  grid-column: 2;
  grid-row: 4;
  padding: 10px;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(56, 56, 56, 0.4);
  border-radius: 4px;
  justify-self: center;
  align-self: center;
}

/* Student Code of Behaviour */
#student-code {
  padding: 0 5vw;
}
#student-code p,
#student-code ol,
#student-code ul {
  padding-bottom: 1.5em;
}
#student-code ol,
#student-code ul {
  padding-left: 2.5em;
}
#student-code ul {
  list-style-type: disc;
}
#student-code h3 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 768px) {
  .our-school-overview {
    display: flex;
    flex-direction: column;
  }
  .our-school-overview .content {
    display: flex;
    justify-content: space-between;
  }
  .our-school-overview .content-text {
    max-width: 60%;
  }
  .our-school-overview .internal-nav div {
    padding-left: 1em;
    border-left: 0.3rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(#0F6938, #62ac3b);
  }

  /* Co-curricular Activities */
  #co-curricular {
    padding: 2vw 5vw;
  }
  #co-curricular .co-curricular-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #co-curricular .co-curricular-list .activity-container {
    border-radius: 1em;
    border: 1px solid rgba(56, 56, 56, 0.4);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    width: 47%;
    padding-bottom: 47%;
  }
  #co-curricular .co-curricular-list .activity-container:nth-of-type(2n) {
    margin-left: 5%;
  }

  /* Student Code of Behaviour */
  #student-code {
    max-width: 65%;
    margin-top: -8em;
  }
}
@media screen and (min-width: 1024px) {
  /* Facilities */
  #facilities .facilities-slideshow {
    padding: 5vh 5vw;
  }
  #facilities .facilities-slideshow .slider-btn, #facilities .facilities-slideshow .news-btn {
    background-color: #0F6938;
    color: #FFFFFF;
  }
  #facilities .facilities-slideshow .card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #facilities .facilities-slideshow .card img {
    height: 50vh;
    width: 40vw;
  }
  #facilities .facilities-slideshow .card .content {
    max-width: 40%;
  }

  /* Co-curricular Activities */
  #co-curricular .co-curricular-list .activity-container .content button {
    width: 75%;
  }

  /* Student Code of Behaviour */
  #student-code {
    max-width: 75%;
  }
}/*# sourceMappingURL=our-school.css.map */