.uploader-single {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5vw;

    // background-color: #efefef;
    // background-color: rgba(0, 0, 0, 0.02);

    outline: .01rem solid $form-border-color;
    outline-offset: 5px;
    position: relative;

    min-height: 20vh;
    min-width: 50%;
    max-width: 70%;
    aspect-ratio: 5/3;

    overflow-y: hidden;
    overflow-x: hidden;

    cursor: pointer;

    input {
        display: none;
    }

    img, .icon {
        pointer-events: none;
    }

    .icon {
        color: #eee;
        color: rgba(0, 0, 0, 0.2);
        font-size: 5em;
    }

    .dragging {    
        outline-color: orangered;

        .icon {       
            color: orangered;   
        }
    }

    img {
        opacity: 1;

        border-radius: .5vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        z-index: -1;
        transition: all 300ms ease-in;

        max-height: 100%;
        max-width: 100%;
        
        .loaded {
            opacity: 1;
        }
    }
}

