@import "./_variables.scss";
@import "./normalise";

header, nav {
    width: 100%;
    display: flex;
    z-index: 2;
}


header {
    z-index: 10;
    position: fixed;
    flex-direction: column;

    .header-content {
        transition: transform 0.25s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }


    .top-header{
        background-color: $primary-secondary;
        display: flex;

        transition: transform 0.5s ease-in-out;
        justify-content: space-between;
        align-items: center;
        padding-block: .3em;
        padding-left: 0;

        font-size: 1.15rem;

        .logo-container {
            display: flex;
            cursor: pointer;
            text-decoration: none;
            margin-left: $global-margin;

            .header-logo {
                border: 0;
                img {
                    width: 3.5em;
                    max-width: 5rem;
                }
            }

            .header-title {
                display: flex;
                flex-direction: column;
                justify-content: center;

                margin-left: .75em;
                
                > * {
                    text-transform: uppercase;
                    color: $dark;
                }

                h1 {
                    margin: 0;
                    font-size: 1em;
                    font-weight: 400;
                }
                h2 {
                    margin: 0;
                    font-weight: 800;
                    font-size: .5em;
                }
            }
        }

        .header-contacts {
            display: flex;
            align-items: center;
            vertical-align: middle;
            margin-right: $global-margin;

            .contact {
                display: flex;
                align-items: center;
                
                text-decoration: none;
                
                transition: all .25s ease-in-out;

                padding-inline: .5em;
                padding-block: 1em;

                svg {
                    color: $dark;
                }

                span {
                    font-size: .9rem;
                    margin-left: .4em;
                    color: black;
                }

                &:hover {   
                    background-color: $dark;

                   * {
                        color: $primary-secondary;
                    }
                }
            }
        }
    }
}


.nav-links {
    padding-inline: $global-margin;
    background-color: $dark;
    color: $primary-secondary;
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin: 0;

    list-style: none;

    .nav-element {
        padding: .8em 1em;
        flex-grow: 1;
        height: 100%;
        text-align: center;
        transition: background-color .3s ease-in-out;
        position: relative;

        ul {
            background-color: $dark;    
            display: none;
        }
        
        a {
            opacity: 1;
            text-decoration: none;
            color: inherit;
            font-size: .9rem;
            height: 100%;
          }

          &:hover {
              background-color: lighten($dark, 10%);
              cursor: pointer;
          }
      }

      .nav-sub-list {
        position: relative;

        &:hover {
            ul {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;

                li {
                    @extend .nav-element;
                    background-color: #1B9B55;
                    text-align: left;
                    
                    border-top: 1px solid hsla(0, 0%, 100%, 0.45);

                    &:hover {
                        background-color: lighten(#1B9B55, 10%);
                    }
                }
            }
        }
    }
  }


  @media screen and (max-width: $breakpoint-tablet-portrait) {
    .burger {
        position: absolute;
        margin-right: 4vw;
        cursor: pointer;
        right: .5vw;
        top: 1.2rem;
        transition: all 0.25s ease-in-out;

        div {
            
        transition: all 0.25s ease-in-out;
          width: 2rem;
          height: .15rem;
          margin-top: .5rem;
          background-color: black;
      }
    }

    .toggle {
        opacity: 0;
    }

    header {
        .header-content {
            transform: none;
            box-shadow: none;
        }

        .top-header {
            transform: none;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

            .header-contacts {
                display: none;
            }
        }
    }

      .nav {
         z-index: 100;
         position: absolute;
         top:0;
          transform: translateX(200vw);
          height: 120vh;
          background-color: $dark;
          padding: 0;
          
          border-radius: 1vw 0 0 0;
          font-weight: 500;
          transition: transform 0.55s ease-in;
      }
      .nav-active {

          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transform: translateX(60vw);
      }
      
      .nav-links {
          padding: 0vw;   
          display: flex;
          flex-direction: column;
          justify-self: flex-end;
          position: fixed;

          .nav-element {
              padding: 3vh 5vw;
              text-align: left;
              border-bottom: 1px solid hsla(0, 0%, 100%, 0.45);

              &:hover {
                background-color: hsla(0, 0%, 100%, 0.25);
              }
        }

        .nav-sub-list {
            &:hover {
                padding-top: 3vh;
                padding-bottom: 0;
                padding-left: 0;

                & > a {  
                  padding-left: 5vw; 
                }


              ul {
                //   display: block;
                  position: initial;
                  top: 100%;
                  left: 0;
                  margin-top: 1.1em;
                  background-color: #1B9B55;
                  width: 100%;
                  
                  // position: absolute;
                  display: block;

                  li {
                      padding: 3vh 5vw; 
                  }
              }
          }
        }
    }

      .logo-container {
          padding-right: 5em;
      }


  }