@import "./_variables.scss";

// Styling for the various slider buttons
$colour-news-btn: #62AC3B;

.slider-btn {
        border-radius: 50%;
        background-color: $dark;

        // min-width: 2rem;
        // width: 40%;
        // max-width: 3rem;
        
        width: clamp(20px, 4.5vw, 18rem);

        color: $primary-secondary;
        text-align: center;
        
        border: .2rem solid rgba(255, 255, 255, 0);

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all ease-in .25s;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // .slider-btn hover
        &:hover {
            box-sizing: border-box;
            border: .2rem solid $dark;
            background-color: rgba(0, 0, 0, 0.1);
            color: $dark;
        }
} // .slider-btn

.news-btn {
    @extend .slider-btn;
    background-color: $colour-news-btn;
    
        width: clamp(20px, 4.5vw, 18rem);

    &:hover {
        box-sizing: border-box;
        border: .2rem solid $colour-news-btn;
        background-color: rgba(236, 236, 236, 0.1);
        color: $colour-news-btn;
    }
}