// Key colours
$primary-main: #1b9b55;
$primary-secondary: #ffffff;
$accent: #eee1b2;
$dark: #0f6938;
$other: #cfecc1;

// State colours
$alert: #ff1f1f;
$success: #6bbb5e;

// Form colours
$form-border-color: #ccc;
$form-background-color: #efefef;

// Fonts
$font-primary: "EB Garamond", serif;
$font-secondary: "Raleway", sans-serif;
$font-colour: #383838;

// Font-Sizes
// Not enforced, just quick templates for re-using
$font-size-small: clamp(10px, 1vw, 9rem);
$font-size-normal: clamp(12px, 1vw, 10rem);
$font-size-large: clamp(18px, 1.35vw, 12rem);
$font-size-heading: clamp(18px, 2.1vw, 15rem);
$font-size-huge: clamp(25px, 3vw, 20rem);

// Breakpoints (for media queries)
$breakpoint-mobile: 428px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1200px;
$breakpoint-desktop-large: 1400px;

@mixin flex-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Global margin for consistency
$global-margin: 5vw;
