// Key colours
$primary-main: #1B9B55;
$primary-secondary: #FFFFFF;
$accent: #EEE1B2;
$dark: #0F6938;
$other: #CFECC1;

$alert: #FF1F1F;

$form-border-color: #ccc;

// Fonts
$font-primary: 'EB Garamond', serif;
$font-secondary: 'Raleway', sans-serif;
$font-colour: #383838;


// Font-Sizes
$font-size-small: clamp(10px, 1vw, 9rem);
$font-size-normal: clamp(12px, 1.15vw, 10rem);
$font-size-large: clamp(18px, 1.35vw, 12rem);
$font-size-heading: clamp(18px, 2.1vw, 15rem);

$font-size-huge: clamp(25px, 3vw, 20rem);

// Breakpoints (for media queries)
$breakpoint-mobile: 428px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1200px;
$breakpoint-desktop-large: 1400px;

@mixin flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$global-margin: 5vw;