@import "../../../assets/css/scss/_variables.scss";
@import "../../../assets/css/scss/_file-uploader.scss";

body, html {
	scroll-behavior: smooth;
    height: 100%;
}

main, section {
    @include flex-centered;
    padding: 0;
    // margin-bottom: 8vmax;
    width: 100%;
}


.form-wrapper {
    min-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

header {
    position: static;
}

.article-form {
    padding: 2em;
    border: .01rem solid $form-border-color;
    border-radius: 1em;
    font-family: $font-secondary;
    width: 70%;

    .form-item {
        padding-block: .5em;
        display: flex;
        flex-direction: column;

        label {
            text-transform: uppercase;
            font-weight: 500;
        }

        input {
            padding: .75em;
            align-self: flex-start;
            border: .01rem solid $form-border-color;

            &[type="text"]{
                min-width: 50%;
            }

            &:focus {
                outline: none;
            }
        }


        .form-button {
            background: none;
            padding: .75em;
            padding-inline: 1.25em;
            text-transform: uppercase;
            border: none;
            background-color: $primary-main;
            color: $primary-secondary;
            cursor: pointer;

            &:hover {
                background-color: lighten($primary-main, 10%);
            }
        }
        .editor-container {
            min-height: 30vh;
        }
    }
}