@import "../../../assets/css/scss/_variables.scss";


html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    @include flex-centered;
}

header {
    position: static;
}

body {  
    width: 100%;
    padding-inline: $global-margin;
}

table {
    @include flex-centered;
    width: 100%;

    thead {
        border: .01rem solid $form-border-color;
        border-bottom: none;
    }

    tbody, thead {
        padding-block: 0;
        width: 100%;
        .row-item {
            display: flex;
            flex-direction: row;
            // justify-content: space-around;

            & > * {
                width: 20%;
                display: block;
                padding-block: .5em;
                flex-grow: 1;
                text-align: center;
            }
        }
    }
    

    tbody {
        .row-item {
            border: .01rem solid $form-border-color;
            &:nth-of-type(2){
                background-color: #f2f2f2;
            }
        }
    }

    tfoot {
        @include flex-centered;
        border: .01rem solid $form-border-color;
        border-top: none;
        width: 100%;
        padding: 1em;
    }
}